#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}